In [4]:
#Write a Python code to return your Python version
from platform import python_version
 
python_version()

'3.8.10'

In [36]:
#Write a Python code to declare variable id="513".
#Print the following statement "customer id =513".
id = "513"
print("customer id =" + id)

customer id =513

In [13]:
#Run the following statement, why there is an error
id=id+1

TypeError: ignored

In [40]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
new_id = int(id) + 1
print(new_id)

514

In [41]:
#Write a Python code to print the following string in a specific format (see the
# Twinkle, twinkle, little star,
# How I wonder what you are!
# Up above the world so high,
# Like a diamond in the sky.

print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\t\tLike a diamond in the sky.")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
			Like a diamond in the sky.

In [42]:
#Givin the following string variable, # Print the first element in the string
course ="Python for Data Science"
print(course[0])

P

In [17]:
# Print the element on the 13th index in the string
print(course[13])

t

In [19]:
# Find the length of string
print(len(course))

23

In [20]:
# Print the last element in the string [use negative index]
print(course[-1])

e

In [15]:
# Take the slice on variable course with only index 11 to index 14
print(course[11:15])

Data

In [16]:
# Get every third element in the range from index 0 to index 20
print(course[:21:3])

Ph ra i

In [43]:
# Concatenate course string with ", AI & Development"
print(course + ", AI & Development")

Python for Data Science, AI & Development

In [44]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_S
print(course.replace(" ", "_"))
print("_".join(course.split(' ')))

Python_for_Data_Science
Python_for_Data_Science

In [45]:
course.upper()

'PYTHON FOR DATA SCIENCE'